<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXWXdta5oE4W2lF2wK_zwhjCpMWUdMqSs</string>
	<key>GCM_SENDER_ID</key>
	<string>355853926438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deliveryapp-44185</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapp-44185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355853926438:ios:be4be105ea530efda826e7</string>
</dict>
</plist>